function Main.main 2
push constant 3
pop local 0
label WHILE_EXP0
push local 0
push constant 0
gt
not
if-goto WHILE_END0
push local 0
call SnakeGame.new 1
pop local 1
push local 1
call SnakeGame.run 1
pop temp 0
push local 1
call SnakeGame.dispose 1
pop temp 0
push local 0
push constant 1
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
call Draw.game_over 0
pop temp 0
push constant 3000
call Sys.wait 1
pop temp 0
push constant 0
return
